In [1]:
import plotly.offline as pyo
import plotly_express as pyx
import plotly.graph_objects as go
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules
from mlxtend.preprocessing import TransactionEncoder
import numpy as np
from numpy import *
import pandas as pd

data = pd.read_csv("sample_semanai.csv")

In [2]:
data2 = data[data["Acción"] != "Cancelación"]
data2.dropna(axis=0, subset=['Clave platillo'], inplace=True)

In [3]:
#data2['Cantidad'] = pd.to_numeric(data2['Cantidad'], errors='ignore')
data2 = data2[['Orden','Cantidad','Clave platillo','idEn]
data2

       Orden  Cantidad Clave platillo  idEncuesta
0         63       1.0           ENT4      115787
1         63       1.0         MCLÁ53      115787
2         53       1.0           BSA4      115793
3         53       1.0           BSA8      115793
6         77       1.0         MCLÁ49      115788
...      ...       ...            ...         ...
46467     78       1.0         MCLÁ25      615571
46468     78       1.0           BAS1      615571
46469     82       1.0           HAM1      615573
46470     91       1.0          BAS12      615574
46471     91       1.0           PPP2      615574

[46183 rows x 4 columns]

In [4]:
#data2.dropna(axis=0, subset=['idEncuesta'], inplace=True)
#data2['idEncuesta'] = data2['idEncuesta'].astype('str')
#data2 = data2[~data2['idEncuesta'].str.contains('C')]
data2 = (data2.groupby(['idEncuesta', 'Clave platillo'])['Cantidad'].sum().unstack().reset_index())
transform_NaNs = isnan(data2)
data2[transform_NaNs] = 0
data2

Clave platillo,idEncuesta,BAS1,BAS10,BAS11,BAS12,BAS13,BAS14,BAS2,BAS3,BAS4,...,bebi004,bebi005,bebi006,bebi01,bebi02,bebi03,mcl90004,mcl90005,mcl90009,mcla9006
0,115787,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,115788,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,115789,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,115791,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,115793,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16134,615470,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16135,615569,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16136,615571,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16137,615573,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16138,615574,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [5]:
data2['Cantidad'] = pd.to_numeric(data2['Cantidad'], errors='ignore')
data2 = data2[['Orden','Cantidad','Clave platillo','idEncuesta']]
data2

KeyError: "['Clave platillo', 'Cantidad', 'Orden'] not in index"

In [6]:
#te = TransactionEncoder()
#te_ary = te.fit(data2).transform(data2)
#data_corr = pd.DataFrame(te_ary, columns=te.columns_)
def encode_units(x):
    if x <= 0:
        return 0
    if x >= 1:
        return 1
data_corr = data2.applymap(encode_units)
#fig_corr = apriori(data_corr)
data_corr

Clave platillo,idEncuesta,BAS1,BAS10,BAS11,BAS12,BAS13,BAS14,BAS2,BAS3,BAS4,...,bebi004,bebi005,bebi006,bebi01,bebi02,bebi03,mcl90004,mcl90005,mcl90009,mcla9006
0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16134,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16135,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16136,1,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16137,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16138,1,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

,0,1,2,3,4,5,6,7,8,9,...,d,e,i,l,m,n,s,t,u,Á
0,False,False,False,False,False,False,False,False,False,False,...,True,True,True,False,False,True,True,True,True,False
1,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,True,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,True,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16134,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
16135,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
16136,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
16137,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
16138,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False